
h2{
  font-family: sans-serif;
}

.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
  }
  .items li {
    cursor: pointer;
    position: relative;
    text-align: left;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .mat-list-item a{
    text-align: left;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 23px;
  }
  .items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .items li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .items li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .items .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  label{
    font-size: 20px;
  }
  .add {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  .add:hover {
    background-color: #cfd8dc;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }