<div class="container">
    <h2>My Todo List</h2>
    <div>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input #itemName matInput placeholder="Todo Title" value="">
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
                <textarea #itemDescription matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>
            </form>
    


            <button mat-button color="primary" class="add" (click)="addItem(itemName.value,itemDescription.value)">Add</button>
    </div>
    
    
    
    
    <mat-list>
      <mat-list-item *ngFor="let item of items"> 
        <a class="todoItem" routerLink="/detail/{{item.id}}">
          {{item.title + ': ' + item.description}}
          
        </a>
        <button mat-mini-fab color="warn" title="delete item"
        (click)="delete(item)">X</button>
      </mat-list-item>

    </mat-list>
<!--     
    <ul class="items">
        <li *ngFor="let item of items">
            <input type="checkbox" [checked]="checked" [value]="" (change)="onChange($event)">
                <a class="todoItem" routerLink="/detail/{{item.id}}">
                    {{item.title}}
                    {{item.description}}
                </a>
                <button class="delete" title="delete hero"
                (click)="delete(item)">x</button>
        </li>
    </ul> -->
    

  


    <app-item-detail [item]="selectedItem"></app-item-detail>
</div>
