<div class="container">

<div *ngIf="item">

    <h2>{{item.title}} Details</h2>
    
     
    
    <div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input #itemName matInput placeholder="Todo Title" value="" [(ngModel)]="item.title" placeholder="title">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea #itemDescription matInput placeholder="Leave a comment"  [(ngModel)]="item.description" placeholder="description"></textarea>
        </mat-form-field>
    </form>
    </div>




    <button mat-button color="primary" (click)="goBack()">goBack</button>
    <button mat-button color="primary"  (click)="save()">save</button>
</div>

</div>